node_modules/
.next/
.env
.env.local
.env.*.local
dist/
uploads/
public/uploads/
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.idea/
.cache/
/*.tgz
.parcel-cache/
coverage/
/.pnp/
/.pnp.js
